* {
  margin: 0px;
  padding: 0px;
  user-select: none;
}

body {
  background: url(pictures/background.png);
}

#question-container{
  transform: translate(-50%, -50%);
  position: fixed;
  top: 20%;
  left: 50%;
}

#question-itself{
  color: black;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 3vw;
  text-align: center;
}

#answer-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  transform: translate(-50%, -50%);
  top: 60%;
  left: 50%;
  position: fixed;
  grid-column-gap: 10%;
  grid-row-gap: 10%;
}

#answer1, #answer2, #answer3, #answer4{
  width: 100%;
  height: 20vh;
  color: white;
  cursor: pointer;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 20px;
  border: none;
  transition: .2s;
}

#answer1:active, #answer2:active, #answer3:active, #answer4:active{
  filter: brightness(85%);
  scale: 1.1;
}

#answer1:hover, #answer2:hover, #answer3:hover, #answer4:hover{
  scale: 1.1;
}

#answer1{
  background-color: red;
}

#answer2{
  background-color: blue;
}

#answer3{
  background-color:rgb(255, 196, 0);
}

#answer4{
  background-color: green;
}

#next-question{
  width: 100px;
  height: 100px;
  cursor: pointer;
}

#current-question{
  display: flex;
  flex-direction: row;
  
}

#goto{
  width: 200px;
  height: 50px;
  text-align: center;
}

#goto::placeholder{
  text-align: center;
}

#submit-button{
  width: 200px;
  height: 50px;
  text-align: center;
  cursor: pointer;
}

#next-question, #goto, #submit-button{
  text-align: center;
  justify-content: center;
}